{% extends 'base.html.jinja2' %}

{% block content %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_project">
        Add project
    </button>

    <!-- Modal -->
    <div class="modal fade" id="add_project" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" action="/project/create" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New project</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="project_name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="project_name"
                               placeholder="Enter project name...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Название проекта</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.name }}</td>
                <td>
                    <a href="/workday/project/{{ row.id }}/today" class="btn btn-success btn-sm">Начать работу</a>
                    <a href="/workday/project/{{ row.id }}/workdays" class="btn btn-info btn-sm">Просмотр рабочих дней</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
